/**
 * @file
 * Views Styling
 */
/* Put all our custom theme variables in this file
   All theme variables can be overridden here that have the property:  !default

*/
/***********************************************************************
  LAYOUT VARIABLES
***********************************************************************/
/* --------------------------------------------------------------desktop
*/
/* ---------------------------------------------------------------tablet
*/
/* -----------------------------------------------------------------cell
*/
/***********************************************************************
  PRESENTATION VARIABLES
***********************************************************************/
/* --------------------------------------------------------------desktop
*/
/* ---------------------------------------------------------------tablet
*/
/* -----------------------------------------------------------------cell
*/
/***********************************************************************
  FONTS
***********************************************************************/
/***********************************************************************
  COLORS

  Organize by section
    e.g, page, navigation, sidebar, footer, form, etc
  Variables should typically have both a default fg and bg
***********************************************************************/
/*
 * Views' admin tabs
 *
 * The views admin tabs use the same classes as the secondary tabs. We prevent
 * some of our tab styling from bleeding into (and breaking) the Views admin
 * pages. If your sub-theme isn't used for admin pages, you can remove this
 * entire section.
 */
.views-displays .secondary li {
  float: none;
  margin: 0 6px 0;
}
.views-displays .secondary a:link,
.views-displays .secondary a:visited {
  text-shadow: none;
  padding: 2px 7px 3px;
}
.views-displays .secondary .open > a {
  -webkit-border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
  -ms-border-radius: 7px 7px 0 0;
  -o-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
}
.views-displays .secondary .open > a:hover {
  color: #333;
}
.views-displays .secondary .action-list li {
  margin: 0;
}
.views-displays .secondary .action-list li:first-child {
  -webkit-border-radius: 0 7px 0 0;
  -moz-border-radius: 0 7px 0 0;
  -ms-border-radius: 0 7px 0 0;
  -o-border-radius: 0 7px 0 0;
  border-radius: 0 7px 0 0;
}
.views-displays .secondary .action-list li:last-child {
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  -ms-border-radius: 0 0 7px 7px;
  -o-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
}

/**
 * styling for landing pages
 * TZ 6/18/13
 * converted to sass 6/22, and further changes
 */
.sidebars div.view-people-landing h2,
.sidebars div.view-strategy-landing h2,
.sidebars div.view-insights-landing h2 {
  text-align: center;
  font-size: 1.125em;
}
.sidebars div.view-people-landing h2 a:link, .sidebars div.view-people-landing h2 a:visited, .sidebars div.view-people-landing h2 a:active,
.sidebars div.view-strategy-landing h2 a:link,
.sidebars div.view-strategy-landing h2 a:visited,
.sidebars div.view-strategy-landing h2 a:active,
.sidebars div.view-insights-landing h2 a:link,
.sidebars div.view-insights-landing h2 a:visited,
.sidebars div.view-insights-landing h2 a:active {
  color: #000;
  text-decoration: none;
  font-weight: DINWeb-Bold;
  font-size: 1.125em;
}
.sidebars div.view-people-landing .views-row .views-field-title,
.sidebars div.view-strategy-landing .views-row .views-field-title,
.sidebars div.view-insights-landing .views-row .views-field-title {
  display: inline-block;
  max-width: 250px;
  overflow: hidden;
  white-space: nowrap;
}
.sidebars div.view-people-landing .views-row .views-field-title a,
.sidebars div.view-strategy-landing .views-row .views-field-title a,
.sidebars div.view-insights-landing .views-row .views-field-title a {
  color: #000;
}
.sidebars div.view-people-landing .views-row .views-field-path a,
.sidebars div.view-strategy-landing .views-row .views-field-path a,
.sidebars div.view-insights-landing .views-row .views-field-path a {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  background: url("../images/black_arrow.png") top left no-repeat;
  width: 18px;
  height: 17px;
  padding-top: 0.25em;
  vertical-align: middle;
  float: right;
}
.sidebars div.view-people-landing .views-row:first-child,
.sidebars div.view-strategy-landing .views-row:first-child,
.sidebars div.view-insights-landing .views-row:first-child {
  border-top: 1px solid black;
}
.sidebars h3 {
  margin-top: 0;
  text-align: center;
}
.sidebars .view {
  background-color: #c7c8ca;
  padding: 40px 10px 10px;
}
.sidebars div.views-row {
  padding-bottom: .5em;
  padding-top: .5em;
}
.sidebars div.views-row div.field-content span.file {
  float: right;
}
.sidebars div.view-display-id-block_9 .views-field-title, .sidebars div.view-display-id-block_9 .views-field-title *, .sidebars div.view-display-id-block_9 .views-field-body {
  display: inline;
}
.sidebars div.view-display-id-block_9 .views-field-body, .sidebars div.view-display-id-block_9 a {
  font-size: 0.75em;
}
.sidebars div.view-display-id-block_9 .views-field-path {
  float: right;
}
.sidebars div.view-display-id-block_10 .views-row,
.sidebars .view-display-id-block_13 .views-row {
  border-bottom: 1px solid black;
}
.sidebars div.view-display-id-block_10 .views-row .views-field-title,
.sidebars .view-display-id-block_13 .views-row .views-field-title {
  display: inline-block;
  max-width: 250px;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1.094em !important;
}
.sidebars div.view-display-id-block_10 .views-row .views-field-title a,
.sidebars .view-display-id-block_13 .views-row .views-field-title a {
  color: #000;
}
.sidebars div.view-display-id-block_10 .views-row .views-field-path a,
.sidebars .view-display-id-block_13 .views-row .views-field-path a {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  background: url("../images/black_arrow.png") top left no-repeat;
  width: 18px;
  height: 17px;
  padding-top: 0.25em;
  vertical-align: middle;
  float: right;
}
.sidebars div.view-display-id-block_10 .views-row:first-child,
.sidebars .view-display-id-block_13 .views-row:first-child {
  border-top: 1px solid black;
}
.sidebars .view-id-strategy_summaries_commentary.view-display-id-block_1 {
  background-color: #fff;
}
.sidebars .view-id-strategy_summaries_commentary.view-display-id-block_1 img {
  float: left;
  padding: 0 1em;
}
.sidebars .view-id-strategy_summaries_commentary.view-display-id-block_1 .views-field-field-product-commentary .field-content {
  margin-right: 1em;
}

.view-people-landing a:link, .view-people-landing a:active, .view-people-landing a:visited,
.view-strategy-landing a:link,
.view-strategy-landing a:active,
.view-strategy-landing a:visited {
  text-decoration: none;
  color: #000;
}
.view-people-landing p,
.view-strategy-landing p {
  margin: 0;
}
.view-people-landing div.views-field-body,
.view-strategy-landing div.views-field-body {
  display: inline;
}
.view-people-landing div.views-field-body *,
.view-strategy-landing div.views-field-body * {
  display: inline;
}
.view-people-landing div.views-field-body * p,
.view-strategy-landing div.views-field-body * p {
  display: inline;
}
.view-people-landing h2,
.view-strategy-landing h2 {
  font-size: 1.375em;
  line-height: 2.18182em;
  margin-bottom: 0.5em;
}
.view-people-landing h2:first-of-type,
.view-strategy-landing h2:first-of-type {
  margin-top: 0;
}
.view-people-landing h4,
.view-strategy-landing h4 {
  margin: 0;
}
.view-people-landing div.views-field-path,
.view-strategy-landing div.views-field-path {
  display: inline;
}
.view-people-landing div.views-field-path *,
.view-strategy-landing div.views-field-path * {
  display: inline;
}
.view-people-landing div.views-field-path a,
.view-strategy-landing div.views-field-path a {
  font-family: DINWeb-Bold;
  font-size: 0.875em;
}
.view-people-landing div.views-field-path a:after,
.view-strategy-landing div.views-field-path a:after {
  content: "\00a0>";
}
.view-people-landing .attachment-before .view,
.view-strategy-landing .attachment-before .view {
  border-bottom: 1px solid black;
  padding-bottom: 28px;
  padding-top: 28px;
}
.view-people-landing .attachment-before .view:last-child,
.view-strategy-landing .attachment-before .view:last-child {
  border-bottom: none;
  padding-bottom: 0;
  width: 95%;
}
.view-people-landing .attachment-before .view div.views-field-title-1,
.view-strategy-landing .attachment-before .view div.views-field-title-1 {
  display: inline;
}
.view-people-landing .attachment-before .view div.views-field-title-1 *,
.view-strategy-landing .attachment-before .view div.views-field-title-1 * {
  display: inline;
}
.view-people-landing .attachment-before .view:first-child,
.view-strategy-landing .attachment-before .view:first-child {
  padding-top: 0;
}
.view-people-landing div.attachment.attachment-after .view,
.view-strategy-landing div.attachment.attachment-after .view {
  background-color: #c7c8ca;
  padding: 0.5em;
  margin-bottom: 1em;
  margin-right: 2em;
}
.view-people-landing div.attachment.attachment-after div.views-row,
.view-strategy-landing div.attachment.attachment-after div.views-row {
  padding-bottom: .5em;
  padding-top: .5em;
}
.view-people-landing div.attachment.attachment-after div.views-row div.field-content span.file,
.view-strategy-landing div.attachment.attachment-after div.views-row div.field-content span.file {
  float: right;
}
.view-people-landing div.attachment.attachment-after div.view-display-id-block_9 .views-field-title, .view-people-landing div.attachment.attachment-after div.view-display-id-block_9 .views-field-title *, .view-people-landing div.attachment.attachment-after div.view-display-id-block_9 .views-field-body,
.view-strategy-landing div.attachment.attachment-after div.view-display-id-block_9 .views-field-title,
.view-strategy-landing div.attachment.attachment-after div.view-display-id-block_9 .views-field-title *,
.view-strategy-landing div.attachment.attachment-after div.view-display-id-block_9 .views-field-body {
  display: inline;
}
.view-people-landing div.attachment.attachment-after div.view-display-id-block_9 .views-field-body, .view-people-landing div.attachment.attachment-after div.view-display-id-block_9 a,
.view-strategy-landing div.attachment.attachment-after div.view-display-id-block_9 .views-field-body,
.view-strategy-landing div.attachment.attachment-after div.view-display-id-block_9 a {
  font-size: 0.75em;
}
.view-people-landing div.attachment.attachment-after div.view-display-id-block_9 .views-field-body,
.view-strategy-landing div.attachment.attachment-after div.view-display-id-block_9 .views-field-body {
  margin-left: 1em;
}
.view-people-landing div.attachment.attachment-after div.view-display-id-block_9 .views-field-path,
.view-strategy-landing div.attachment.attachment-after div.view-display-id-block_9 .views-field-path {
  float: right;
}
.view-people-landing div.attachment.attachment-after div.view-display-id-sidebar_white_papers .node-white-paper-factsheet h2.node-title,
.view-people-landing div.attachment.attachment-after div.view-display-id-sidebar_fact_sheets .node-white-paper-factsheet h2.node-title,
.view-strategy-landing div.attachment.attachment-after div.view-display-id-sidebar_white_papers .node-white-paper-factsheet h2.node-title,
.view-strategy-landing div.attachment.attachment-after div.view-display-id-sidebar_fact_sheets .node-white-paper-factsheet h2.node-title {
  display: block;
  font-size: 1em;
  font-weight: bold;
  margin: 1em 0;
}
.view-people-landing div.attachment.attachment-after div.view-display-id-sidebar_white_papers .node-white-paper-factsheet h2.node-title a,
.view-people-landing div.attachment.attachment-after div.view-display-id-sidebar_fact_sheets .node-white-paper-factsheet h2.node-title a,
.view-strategy-landing div.attachment.attachment-after div.view-display-id-sidebar_white_papers .node-white-paper-factsheet h2.node-title a,
.view-strategy-landing div.attachment.attachment-after div.view-display-id-sidebar_fact_sheets .node-white-paper-factsheet h2.node-title a {
  pointer-events: none !important;
  cursor: default !important;
}
.view-people-landing div.attachment.attachment-after div.view-display-id-sidebar_white_papers .node-white-paper-factsheet h2:first-child,
.view-people-landing div.attachment.attachment-after div.view-display-id-sidebar_fact_sheets .node-white-paper-factsheet h2:first-child,
.view-strategy-landing div.attachment.attachment-after div.view-display-id-sidebar_white_papers .node-white-paper-factsheet h2:first-child,
.view-strategy-landing div.attachment.attachment-after div.view-display-id-sidebar_fact_sheets .node-white-paper-factsheet h2:first-child {
  margin-top: 0;
}
.view-people-landing div.attachment.attachment-after div.view-display-id-sidebar_white_papers .node-white-paper-factsheet .field-type-text-with-summary,
.view-people-landing div.attachment.attachment-after div.view-display-id-sidebar_fact_sheets .node-white-paper-factsheet .field-type-text-with-summary,
.view-strategy-landing div.attachment.attachment-after div.view-display-id-sidebar_white_papers .node-white-paper-factsheet .field-type-text-with-summary,
.view-strategy-landing div.attachment.attachment-after div.view-display-id-sidebar_fact_sheets .node-white-paper-factsheet .field-type-text-with-summary {
  display: none;
}
.view-people-landing div.attachment.attachment-after div.view-display-id-sidebar_white_papers .node-white-paper-factsheet ul.links.inline .first a:before,
.view-people-landing div.attachment.attachment-after div.view-display-id-sidebar_fact_sheets .node-white-paper-factsheet ul.links.inline .first a:before,
.view-strategy-landing div.attachment.attachment-after div.view-display-id-sidebar_white_papers .node-white-paper-factsheet ul.links.inline .first a:before,
.view-strategy-landing div.attachment.attachment-after div.view-display-id-sidebar_fact_sheets .node-white-paper-factsheet ul.links.inline .first a:before {
  content: url("../images/download.png");
  width: 22px;
  height: 26px;
  display: inline-block;
  padding-right: 0.25em;
  vertical-align: bottom;
}
.view-people-landing div.attachment.attachment-after div.view-display-id-sidebar_white_papers .node-white-paper-factsheet ul.links.inline .first a:after,
.view-people-landing div.attachment.attachment-after div.view-display-id-sidebar_fact_sheets .node-white-paper-factsheet ul.links.inline .first a:after,
.view-strategy-landing div.attachment.attachment-after div.view-display-id-sidebar_white_papers .node-white-paper-factsheet ul.links.inline .first a:after,
.view-strategy-landing div.attachment.attachment-after div.view-display-id-sidebar_fact_sheets .node-white-paper-factsheet ul.links.inline .first a:after {
  content: "\00a0>";
}
.view-people-landing div.attachment.attachment-after div.view-display-id-sidebar_white_papers .node-white-paper-factsheet ul.links.inline .last,
.view-people-landing div.attachment.attachment-after div.view-display-id-sidebar_fact_sheets .node-white-paper-factsheet ul.links.inline .last,
.view-strategy-landing div.attachment.attachment-after div.view-display-id-sidebar_white_papers .node-white-paper-factsheet ul.links.inline .last,
.view-strategy-landing div.attachment.attachment-after div.view-display-id-sidebar_fact_sheets .node-white-paper-factsheet ul.links.inline .last {
  display: none;
}

.view-display-id-block_11 h2 {
  text-align: center;
  font-size: 1.125em;
}
.view-display-id-block_11 h2 a:link, .view-display-id-block_11 h2 a:visited, .view-display-id-block_11 h2 a:active {
  color: #000;
  text-decoration: none;
  font-weight: DINWeb-Bold;
  font-size: 1.125em;
}

/**
 * styling for people/testimonials
 * TZ 6/23/13
 * changes
 * TB 6/25/13
 */
.view-id-testimonials {
  padding-left: 2em;
  padding-right: 2em;
}
.view-id-testimonials div.view-content div.views-field-body a:link, .view-id-testimonials div.view-content div.views-field-body a:active, .view-id-testimonials div.view-content div.views-field-body a:visited {
  text-decoration: none;
  color: #000;
}
.view-id-testimonials div.view-content div.views-field-body p:before {
  content: "\201C";
}
.view-id-testimonials div.view-content div.views-field-body p {
  font-family: DINWeb-Bold;
  font-size: 1.5em;
  margin-bottom: 0.75em;
}
.view-id-testimonials div.view-content div.views-field-body p:after {
  content: "\201D";
}
